@charset "UTF-8";

@font-face {
    font-family: 'lobster_1.4regular';
    src: url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.eot');
    src: url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150115-112211/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apple_garamond_lightregular';
    src: url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.eot');
    src: url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150115-113133/applegaramond-light-webfont.svg#apple_garamond_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'coolveticaregular';
    src: url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.eot');
    src: url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150115-114425/coolvetica_rg-webfont.svg#coolveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_new_romanregular';
    src: url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.eot');
    src: url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.woff') format('woff'),
         url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.ttf') format('truetype'),
         url('../fonts/webfontkit-20150115-115225/code_new_roman-webfont.svg#code_new_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'lobster_1.4regular';
	font-size: 10em;
	margin-top: -10px;
	margin-bottom: -10px;
	color: #334b28;
}

h2 {
	font-family: 'apple_garamond_lightregular';
	font-size: 2em;
}

h3 {
	color: #eaf1d8;
}

h4 {
	font-family: 'coolveticaregular';
}

h5 {
	font-family: 'lobster_1.4regular';
	font-size: 3.5em;
	color: #eaf1d8;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom: -.5em;
}

h6 {
	font-family: 'apple_garamond_lightregular';
}

p {
	font-family: 'code_new_romanregular';
	color: #ffffff;
	font-size: 14px;
}

a {
	font-family: 'coolveticaregular';
}

.wrapper {
	margin-left: -1em;
	margin-top: -2em;
    width: 1000px;
}

.banner {
	margin-left: -1em;
	margin-top: -1em;
	margin-bottom: -6.5em;
	margin-right: -1em;
}

.green {
 	background-color: #BCCF75;
 	width: 1671px;
}

.whitebox{
 	background-color: #ECF1D8;
 	width: 30%;
 	border: dashed;
 	border-color: #a9c34c;
 	margin-left: 15em;
 	padding-top: 3em;
 	padding-left: 2em;
 	padding-right: 1em;
 	padding-bottom: 3em;
}

.red {
 	color: #aa3e23;
}

.red2 {
 	color: #aa3e23;
 	margin-left: 2.5em;
	margin-top: -1.15em;

}

.biggreen {
	color: #3f5724;
	margin: 0em;
	margin-left: 5.25em;
	margin-top: -1.15em;
}

.biggreen2 {
	color: #3f5724;
	margin: 0em;
	margin-left: 7.45em;
	margin-top: -1.15em;
}

.biggreen3 {
	color: #3f5724;
	margin: 0em;
}

.greentext {
	color: #3f5724;
	font-size: 1.25em;
}

.besidewhitebox {
 	width: 40%;
 	margin-left: 53em;
 	margin-top: -38em;
 	padding-bottom: 2em;
}

.top {
	color: #3f5724;
	font-size: 1.25em;
}

.firstboxingreen {
	background-color: #272625;
	border: dashed;
	border-color: #E6EBE0;
	text-align: left;
	padding-left: 3em;
}

.secondboxingreen {
	background-color: #272625;
	border: dashed;
	border-color: #E6EBE0;
	text-align: left;
	padding-left: 10em;
	padding-top: 30px;
	padding-bottom: 50px;
}

.normal {
	margin-top: 0em;
	margin-bottom: 0em;
}

.greeninbox {
	color: #89bf6d;
	margin-top: 0em;
	margin-bottom: 0em;
	text-indent: 15px;
}

.error {
	margin: 0em;
	margin-bottom: -1em;
	color: #89bf6d;
	text-indent: -80px;
}

.blueinbox {
	color: #5f919a;
	margin-top: 0em;
	margin-bottom: 0em;
	text-indent: 15px;
}

.seperate {
	margin-top: 0em;
	margin-bottom: 0em;
}

.ok {
	color: #89bf6d;
	font-family: 'code_new_romanregular';
	margin-top: -1.25em;
	margin-left: 1em;
}

.whatever {
	margin-top: -1.35em;
	margin-left: 3em;
}

.numbers {
	font-family: 'code_new_romanregular';
	color: #aaaaaa;
	margin-top: -2.15em;
	margin-left: 13em;
}

.git {
	margin-left: -25px;
	margin-top: 13px;
}

.black {
	margin-left: 8px;
	margin-top: -38px;
	margin-right: -671px;
	background-color: #2b2522;
}

.synopsis {
	background-color: #302d2c;
	margin-left: 14.55em;
	margin-right: 9em;
	margin-top: -7em;
	padding-left: 2.5em;
	padding-bottom: 2em;
}

.synopsis1 {
	border-bottom: dashed;
	margin-left: 4.35em;
	margin-right: 49.65em;
	margin-top: -2.15em;
	color: #fdf9c9;
	margin-bottom: 0em;
}

.middle {
	margin-top: -1.40em;
	margin-left: 17.35em;
	margin-bottom: 0em;
}

.synopsis2 {
	border-bottom: dashed;
	margin-left: 24em;
	margin-right: 39em;
	margin-top: -1.15em;
	color: #fdf9c9;
	margin-bottom: 0em;
}

.after {
	margin-top: -1em;
}

.firstboxinblack {
	background-color: #191919;
	border: dashed;
	border-color: #fbf7b0;
	margin-right: 3em;
	padding-left: 3em;
	font-size: 2em;
}

.top1 {
	color: #434343;
}

.top2 {
	margin-top: -1em;
}

.top24 {
	color: #baa56d;
	margin-top: 2.5em;
}

.top27 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 2.5em;
}

.top25 {
	color: #b5c384;
	margin-top: -2.25em;
	margin-left: 11em;
}

.top26 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 14.35em;
}

.top3 {
	margin-top: -1em;
}

.top31 {
	color: #eaf1d8;
	margin-left: 2.5em;
}

.top32 {
	color: #b5c384;
	margin-top: -2.25em;
	margin-left: 12.25em;
}

.top33 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 16.75em;
}

.top4 {
 	color: #434343;
}

.top5 {
	margin-top: -1em;
}

.top51 {
	color: #eaf1d8;
}

.top52 {
	color: #b5c384;
	margin-top: -2.25em;
	margin-left: 8em;
}

.top53 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 18em;
}

.top6 {

}

.top61 {
	color: #b5c384;
	margin-top: -1.45em;
	margin-left: 2.25em;
}

.top62 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 20.25em;
}

.top7 {
	margin-top: -1.45em;
}

.top71 {
	color: #eaf1d8;
	margin-left: 4.5em;
}

.top72 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 8.5em;
}

.top73 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 13.5em;
}

.top74 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 16em;
}

.top75 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 20em;
}

.top76 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 21.5em;
}

.top77 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 22.5em;
}

.top78 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 23.5em;
}

.top8 {
	
}

.top81 {
	color: #b5c384;
	margin-left: 4.5em;
}

.top82 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 13.95em;
}

.top83 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 14.5em;
}

.top84 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 19.5em;
}

.top9 {
	margin-top: -1.25em;
}

.top91 {
	color: #eaf1d8;
	margin-left: 6.75em;
}

.top92 {
	color: #5f919a;
	margin-left: 18em;
	margin-top: -2.25em;
}

.top93 {
	color: #eaf1d8;
	margin-left: 22.5em;
	margin-top: -2.25em;
}
.top10 {
	color: #eaf1d8;
	margin-top: -1.25em;
	margin-left: 4.5em;
}

.top11 {
	color: #eaf1d8;
	margin-top: -1.25em;
	margin-left: 2.25em;
}

.top12 {

}

.top121 {
	color: #b5c384;
	margin-top: -1.25em;
	margin-left: 2.25em;
}

.top122 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 20.25em;
}

.top13 {

}

.top131 {
	color: #eaf1d8;
	margin-top: -1.45em;
	margin-left: 4.5em;
}

.top132 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 8em;
}

.top133 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 13em;
}

.top134 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 16em;
}

.top135 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 20em;
}

.top136 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 21em;
}

.top137 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 22em;
}

.top138 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 23em;
}

.top14 {

}

.top141 {
	color: #b5c384;
	margin-left: 4.5em;
}

.top142 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 17em;
}

.top15 {

}

.top151 {
	color: #b5c384;
	margin-top: -1.25em;
	margin-left: 6.75em;
}

.top152 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 16.5em;
}

.top153 {
	color: #baa56d;
	margin-top: -2.25em;
	margin-left: 17.5em;
}

.top154 {
	color: #eaf1d8;
	margin-top: -2.25em;
	margin-left: 22.5em;
}

.top16 {
	color: #eaf1d8;
	margin-left: 9em;
	margin-top: -1.45em;
}

.top17 {
	color: #eaf1d8;
	margin-left: 6.75em;
	margin-top: -1.45em;
}

.top18 {

}

.top181 {
	color: #b5c384;
	margin-top: -1.25em;
	margin-left: 6.75em;
}

.top182 {
	color: #eaf1d8;
	margin-left: 20.5em;
	margin-top: -2.25em;
}

.top183 {
	color: #baa56d;
	margin-left: 21.5em;
	margin-top: -2.25em;
}

.top184 {
	color: #eaf1d8;
	margin-left: 26.5em;
	margin-top: -2.25em;
}

.top19 {
	color: #eaf1d8;
	margin-top: -1.45em;
	margin-left: 9em;
}

.top20 {
	color: #eaf1d8;
	margin-top: -1.25em;
	margin-left: 6.75em;
}

.top21 {
	color: #eaf1d8;
	margin-top: -1.25em;
	margin-left: 4.5em;
}

.top22 {
	color: #eaf1d8;
	margin-top: -1.25em;
	margin-left: 2.25em;
}

.top23 {
	color: #eaf1d8;
	margin-top: -1.25em;
}

.top100 {
	color: #434343;
	margin-top: -2.25em;
	margin-left: 5.5em;
}

.secondboxinblack {
	background-color: #000000;
	border: dashed;
	border-color: #fbf7b0;
	margin-right: 3em;
	font-size: 2em;
	padding-left: 3em;
	color: #eaf1d8;
}

.sbottomborder {
	border-bottom: solid;
	border-color: #444140;
	border-width: 10px;
	margin-right: 6em;
	padding-top: 2em;
}

.yellow {
	background-color: #fbf596;
	margin-left: 0em;
	margin-right: -42em;
	margin-top: -5.85em;
	margin-bottom: -5.85em;
}

.installing {
	background-color: #fdfbd2;
	margin-right: 9em;
	margin-left: 15em;
	padding-left: 2.5em;
	padding-bottom: 4em;
}

.h5title {
	color: #000000;
}

.npm {
	color: #000000;
}

.npma {
	color: #c03200;
	margin-top: -2.15em;
	margin-left: 16.25em;
}

.npmb {
	color: #000000;
	margin-left: 18.5em;
	margin-top: -2.15em;
}

.firstboxinyellow {
	background-color: #eaf1d8;
	border: dashed;
	border-color: #bcb600;
	margin-right: 3em;
	padding-left: 2em;
}

.secondboxinyellow {
	background-color: #eaf1d8;
	border: dashed;
	border-color: #bcb600;
	margin-right: 3em;
	padding-left: 2em;
}

.green {
 	background-color: #bccf75;
 	margin-left: 0em;
 	margin-right: 5em;
}

.guide {
	background-color: #ecf1d8;
	margin-right: 9em;
	margin-left: 15em;
	padding-left: 3em;
	padding-right: 0em;
	padding-bottom: 4em;
}

.h5titlea {
	color: #000000;
	margin-right: 3em;
	margin-bottom: -2em;
}

.gbottomborder {
	border-bottom: solid;
	border-color: #d4d8c1;
	border-width: 10px;
	margin-right: 3em;
	padding-top: 2em;
}

.h5titles {
	font-size: 1.75em;
	color: #000000;
	margin-bottom: -1em;
}

.h5titleb {
	color: #000000;
	margin-right: 3em;
	margin-bottom: 1em;
}

.vows {
	color: #000000;
	background-color: #f4f8ec;
	border: dashed;
	border-color: #9ec34c;
	margin-right: 62.75em;
	margin-top: -1.45em;
	margin-left: 13em;
}

.period {
	color: #000000;
	margin-top: -2.55em;
	margin-left: 21.75em;
}

.sum {
	color: #000000;
	font-size: 1.5em;
	margin-bottom: -1em;
}

.firstboxinyellow {
	background-color: #f4f8ec;
	border: dashed;
	border-color: #9ec34c;	
}

.secondboxinyellow {
	background-color: #f4f8ec;
	border: dashed;
	border-color: #9ec34c;
	margin-top: 1em;
	margin-bottom: 1em;
}

.h5titleca {
	color: #2a5f82;
}

.smallblacka {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 6em;
}

.h5titlecb {
	color: #2a5f82;
	margin-top: -2.25em;
	margin-left: 8em;
}

.smallblackb {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 11em;
}

.h5titlecc {
	color: #2a5f82;
	margin-top: -1em;
}

.smallblackc {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 6em;
}

.h5titlecd {
	color: #2a5f82;
	margin-left: 8em;
	margin-top: -2.25em;
}

.smallblackd {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 12em;
}

.h5titlece {
	color: #2a5f82;
	margin-top: -1em;
}

.smallblacke {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 6em;
}

.h5titlecf {
	color: #2a5f82;
	margin-top: -2.25em;
	margin-left: 8em;
}

.smallblackf {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 10.75em;

}

.h5titlecg {
	color: #2a5f82;
	margin-top: -2.25em;
	margin-left: 12em;
}

.smallblackg{
	color: #000000;
	margin-top: -2.25em;
	margin-left: 13.75em;

}

.h5titlech {
	color: #2a5f82;
	margin-top: -2.25em;
	margin-left: 15em;
}

.smallblackh {
	color: #000000;
	margin-top: -2.25em;
	margin-left: 19em;

}

.thirdboxinyellow {
	background-color: #f4f8ec;
	border: dashed;
	border-color: #9ec34c;
	margin-right: 3em;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 2em;
}

.h5titleaaa {
	color: #000000;
}

.lowerarrow {
	color: #000000;
	margin-top: -1em;
	margin-left: 1em;
}

.boxedgreentext {
	color: #4b6a30;
	margin-top: -2.25em;
	margin-left: 2em;
}

.secondblack {
	background-color: #191919;
	margin-left: 0em;
	margin-top: -5.85em;
	margin-right: -41.95em;
}

.reference {
	background-color: #262626;
	margin-left: 15em;
	margin-right: 9em;
	padding-left: 3em;
	padding-bottom: 10em;
}

.rbottomborder {
	border-bottom: solid;
	border-color: #444140;
	border-width: 10px;
	margin-right: 3em;
	padding-top: 2em;
}

.test {
	font-size: 1.75em;
}

.firstboxinsecondblack {
	background-color: #191919;
	border: dashed;
	border-color: #ddd9a1;
	margin-right: 3em;
	padding-left: 2em;
}

.na {

}

.bluea {
	color: #61939b;
	margin-top: -2.25em;
	margin-left: 3.5em;
}

.nb {
	margin-top: -2.25em;
	margin-left: 5.75em;
}

.rrbottomborder {
	border-bottom: solid;
	border-color: #444140;
	border-width: 10px;
	margin-right: 3em;
	padding-top: 2em;
}

.left {

}

.right {
	margin-left: 10em;
	margin-top: -2.25em;
}

.blueb {
	color: #61939b;
	margin-top: -2.25em;
	margin-left: 2em;
}

.bluec {
	color: #61939b;
	margin-top: -2.15em;
	margin-left: 26em;
}

.rightright1 {
	margin-top: -2.15em;
	margin-left: 30.25em;
}

.blued {
	color: #61939b;
	margin-top: -2.15em;
	margin-left: 2em;
}

.bluee {
	color: #61939b;
	margin-top: -2.15em;
	margin-left: 26.5em;
}

.rightright2 {
	margin-top: -2.15em;
	margin-left: 31em;
}

.ass {
	font-size: 1.5em;
}

.equal {

}

.exceptions {

}

.secondboxinsecondblack {
	background-color: #191919;
	border: dashed;
	border-color: #ddd9a1;
	margin-right: 3em;
	padding-left: 2em;
}

.leftleft1 {

}

.leftleft2 {
	margin-top: -1em;
}

.leftleft3 {

}

.leftleft4 {
	margin-top: -1em;
}

.leftleft5 {

}

.leftleft6 {
	margin-top: -1em;
}

.white1 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white2 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white3 {
	margin-top: -2.25em;
	margin-left: 19em;
}

.white4 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white5 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white6 {
	margin-top: -2.25em;
	margin-left: 19em;
}

.white7 {
	margin-top: -2.25em;
	margin-left: 22.5em;
}

.white8 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white9 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white10 {
	margin-top: -2.25em;
	margin-left: 19em;
}

.white11 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white12 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white13 {
	margin-top: -2.25em;
	margin-left: 20.5em;
}

.white14 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white15 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white16 {
	margin-top: -2.35em;
	margin-left: 18.5em;
}

.white17 {
	margin-top: -2.35em;
	margin-left: 22em;
}

.white18 {
	margin-top: -2.30em;
	margin-left: 24em;
}

.white19 {
	margin-top: -2.25em;
	margin-left: 15em;
}

.white20 {
	margin-top: -2.25em;
	margin-left: 17em;
}

.white21 {
	margin-top: -2.35em;
	margin-left: 18.5em;
}

.white22 {
	margin-top: -2.35em;
	margin-left: 22em;
}

.white23 {
	margin-top: -2.25em;
	margin-left: 24em;
}

.rednumbers1 {
	margin-top: -2.25em;
	color: #aa3e23;
	margin-left: 16em;                                                                        
}

.rednumbers2 {
	margin-top: -2.35em;
	color: #aa3e23; 
	margin-left: 18em;                                                                       
}

.rednumbers3 {
	margin-top: -2.25em;
	margin-left: 16em;
	color: #aa3e23;  
}

.rednumbers4 {
	margin-top: -2.25em;
	margin-left: 18em;
	color: #aa3e23; 
}

.rednumbers5 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 16em;
}

.rednumbers6 {
	color: #aa3e23;
	margin-top: -2.35em;
	margin-left: 18em;
}

.rednumbers7 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 16em;
}

.rednumbers8 {
	color: #aa3e23;
	margin-top: -2.25em;
}

.rednumbers9 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 16.25em;
}

.rednumbers10 {
	color: #aa3e23;
	margin-top: -2.35em;
	margin-left: 17.75em;
}

.rednumbers11 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 21.15em;
}

.rednumbers12 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 23em;
}

.rednumbers13 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 16.25em;

}

.rednumbers14 {
	color: #aa3e23;
	margin-top: -2.35em;
	margin-left: 17.75em;
}

.rednumbers15 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 21.15em;
}

.rednumbers16 {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 23em;
}

.orange1 {
	margin-top: -2.25em;
	color: #c6a56d;
	margin-left: 20em;
}

.orange2 {
	color: #c6a56d;
	margin-top: -2.25em;
	margin-left: 18em;
}

.thridboxindsecondblack {
	background-color: #191919;
	border: dashed;
	border-color: #ddd9a1;
	margin-right: 3em;
	padding-left: 2em;
}

.assert1 {

}

.function {
	color: #c6a56d;
	margin-top: -2.25em;
	margin-left: 8.5em;
}

.whiteshit {
	margin-top: -2.35em;
	margin-left: 13.5em; 
}

.smurfs {
	margin-top: -2.25em;
	color: #58858d;
	margin-left: 21.5em;
}

.morewhiteshit {
	margin-top: -2.35em;
	margin-left: 29.25em;
}

.assert2 {
	margin-top: -1em;
}

.function2 {
	color: #c6a56d;
	margin-top: -2.25em;
	margin-left: 12em;
}

.whiteshit2 {
	margin-top: -2.35em;
	margin-left: 17em;
}

.uno {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 20em;
}

.doctor {
	margin-top: -2.35em;
	margin-left: 21em;
}

.unodos {
	color: #aa3e23;
	margin-top: -2.25em;
	margin-left: 22em;
}

.braketsandshit {
	margin-top: -2.35em;
	margin-left: 23em;
}

.moresmurfs {
	color: #58858d;
	margin-top: -2.25em;
	margin-left: 24.5em;
}

.morewhiteshit2 {
	margin-top: -2.35em;
	margin-left: 27.5em;
}

.thirdgreen {
	background-color: #bccf75;
	margin-top: -5.85em;
	margin-left: 0em;
	margin-right: -42em;
	padding-top: .25px;
}

.about {
	background-color: #ecf1d8;
	margin-left: 15em;
	margin-right: 9em;
	padding-left: 3em;
	padding-bottom: 2em;
}

.title {
	color: #000000;
	text-align: center;
}

.grey1 {
	color: #939686;
	margin-left: 16.75em;
}

.alex {
	color: #c03547;
	margin-top: -2.20em;
	margin-left: 27em;
}

.grey2 {
	color: #939686;
	margin-top: -2.15em;
	margin-left: 32.75em;
}

.cloud {
	color: #c03547;
	margin-top: -2.20em;
	margin-left: 44.75em;
}

.grey3 {
	color: #939686;
	margin-left: 18.25em;
}

.owww {
	color: #c03547;
	margin-top: -2.18em;
	margin-left: 26.5em;
}

.grey4 {
	color: #939686;
	margin-top: -2.16em;
	margin-left: 33.85em;
}

.motherrussia {
	color: #c03547;
	margin-top: -2.16em;
	margin-left: 35.75em;
}

.grey5 {
	color: #939686;
	margin-top: -2.16em;
	margin-left: 42.65em;
}

.company {
	color: #c03547;
	margin-top: -2.16em;
	margin-left: 43.75em;
}

.footer {
	background-color: #2b2522;
	margin-left: 0em;
	margin-top: -1.35em;
	margin-right: -42em;
	padding-bottom: .5em;
}

.textinfooter {
	background-color: #2b2522;
	margin-left: 15em;
	margin-right: 9em;
	padding-top: 3em;
}

.darkknight {
	color: #1a1715;
	margin-left: 33em;
}

.brightorange {
	color: #c02f04;
	margin-top: -2.5em;
	margin-left: 39em;
}

.coma {
	color: #1a1715;
	margin-top: -2.5em;
	margin-left: 41.25em;
}

.brightorange2 {
	color: #c02f04;
	margin-top: -2.5em;
	margin-left: 41.75em;
}

.and {
	color: #1a1715;
	margin-top: -2.5em;
	margin-left: 44.5em;
}

.jibber {
	color: #c02f04;
	margin-top: -2.5em;
	margin-left: 46.5em;
}

.text2 {
	color: #201715;
	margin-left: 33.25em;
}

nav {
	padding-left: 0em;
	margin-top: -1em;
	width: 1750px;
}

nav ul ul {
	display: none;
}
 
nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #aa3e23;
	padding-left: 230px;  
	padding-right: 809px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
	background: #7f2f1b;
	background: linear-gradient(top, #7f2f1b 0%, #7f2f1b 40%);
	background: -moz-linear-gradient(top, #7f2f1b 0%, #7f2f1b 40%);
	background: -webkit-linear-gradient(top, #7f2f1b 0%,#7f2f1b 40%);
}
nav ul li:hover a {
	color: #ffffff;
}
 
nav ul li a {
	display: block; padding: 10px 30px;
	color: #ffffff; text-decoration: none;
}

nav ul ul {
	background: #7f2f1b; 
    border-radius: 0px; 
    padding: 0;
	position: absolute; 
    top: 100%;
}
	
nav ul ul li {
	float: none; 
	border-top: 1px solid #7f2f1b;
	border-bottom: 1px solid #7f2f1b;
	position: relative;
}

nav ul ul li a {
	padding: 15px 40px;
	color: #7f2f1b;
}	
			
nav ul ul li a:hover {
	background: #561f12;
}

nav ul ul ul {
	position: absolute; 
    left: 100%; 
    top:0;
}